@{
    ViewData["Title"] = "Pagina no encontrada";
}

<h1 class="display-4">Recurso no encontrado!</h1>
<h4>Es posible que el enlace no funcione o este roro, intente mas tarde</h4>
<a class="btn btn-primary mt-3" asp-action="Index">Regresar al Inicio</a>
