@{
    ViewData["Title"] = "Listado Tipos Cuenta";
}

<h1 class="display-4">Listado Tipo Cuentas</h1>
<h4>
    El tipo de cuenta se refiere a como podemos agrupar cuentas. Ejemplo: Prestamos, tarjetas de credito, etc.
</h4>
<a class="btn btn-primary" asp-action="Crear" >Crear Cuenta</a>